toolbarpaletteitem[place="palette"] > __id__:after,
__id__[cui-areatype="menu-panel"]:after {
  display: none;
}
__id__:after {
  position: relative;
  display:  none;
  font-family: __font_family__;
  font-size: __font_size__;
  font-weight: 600;
  content: attr(value);
  background-color: __bg_color__;
  color: __color__;
  text-align: center;
  overflow: hidden;
  border-radius: 2px;
  height: __height__;
  line-height: __line_height__;
}
__id__[cui-areatype="toolbar"][length="1"]:after,
__id__[cui-areatype="toolbar"][length="2"]:after,
__id__[cui-areatype="toolbar"][length="3"]:after,
__id__[cui-areatype="toolbar"][length="4"]:after {
  display: table;
}
__id__[length="1"]:after {
  width: __width_1__;
  margin: __margin_1__;
}
__id__[length="2"]:after {
  width: __width_2__;
  margin: __margin_2__;
}
__id__[length="3"]:after {
  width: __width_3__;
  margin: __margin_3__;
}
__id__[length="4"]:after {
  width: __width_4__;
  margin: __margin_4__;
}

__extra__