.flex {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.note {
  color: #707070 !important;
  padding: 0;
  margin: 5px 0 0 0;
  font-size: 85%;
}
.warning {
  color: #FB8F91;
}

.box {
  width:100%;
  display: table;
}
.box label {
  display: table-cell;
  width: 1px;
  white-space: nowrap;
  padding-right: 5px;
}
.box input,
.box select {
  display: table-cell;
  width:100%;
}

.spacer {
  height: 18px;
  margin: 0;
}

.only-safari,
.only-mac,
.only-firefox {
  display: none;
}
.safari .only-safari,
.mac .only-mac,
.gecko .only-firefox {
  display: block;
}

body {
  align-items: center;
  -webkit-align-items: center;
  margin: 0;
}
body,
table {
  font-size: 14px;
  color: #222;
  font-family: arial,sans-serif;
}

input[type=number] {
  width: 55px;
}

label>input {
  vertical-align: middle;
}

body>* {
  width: 800px;
  display: -webkit-flex;
  display: flex;
}

#header {
  width: 100%;
  background: #F1F1F1 url(../icons/options/64.png) left 35px center no-repeat;
  border-bottom: solid 1px #E5E5E5;
  height: 94px;
  justify-content: center;
  -webkit-justify-content: center;
}
#header>div>span {
  padding-left: 105px;
}
#header>div:nth-child(1)>span:nth-child(1) {
  font-size: 140%;
}


table {
  border-collapse: collapse;
}
#content>table>tbody>tr {
  border-bottom: solid 1px #E5E5E5;
}
#content>table>tbody>tr>td {
  padding: 20px 0 20px 0;
}
#content>table>tbody>tr>td:nth-child(1){
  width: 120px;
  font-weight: bold;
  vertical-align: top;
}
