<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="view.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <template id="label">
    <div class="label">
      <span></span>
      <input type="button" value="×">
    </div>
  </template>
  <template id=attachment>
    <span class="attachment"></span>
  </template>
  <div id="more">
    <h1 id="subject">Subject</h1>
  </div>
  <span>From</span>
  <span id="from"></span>
  <span>To</span>
  <span id="to"></span>
  <span>Attachments</span>
  <div id="attachments">-</div>
  <iframe id="content" src="sandbox/sandbox.html"></iframe>
  <script type="text/javascript" src="view.js"></script>
</body>
</html>
