html,body {
  height: calc(100% - 6px);
  margin: 0;
  background-color: #fff;
  color: #222222;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font: 12.8px arial,sans-serif;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  background-color: #F5F5F5;
  margin: 5px;
}
a,
a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #191919;
}

.vcenter {
  display: flex;
  align-items: center;
}
.hcenter {
  display: flex;
  justify-content: center;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
  opacity: 0.6;
  -moz-user-select: none;
}
.btn:hover {
  color: #191919;
  border-color: #c6c6c6;
  opacity: .9;
}
.btn:active {
  border: 1px solid #4D90FE;
}
.btn[disabled],
.btn[disabled]:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  opacity: .4;
}
.btn[wait] {
  background-image: url("wait.gif");
}

header {
  width: 100%;
  height: 30px;
}
header div[name="email-container"] {
  flex: auto;
  background: -moz-image-rect(url("icons.png"), 0, 22, 22, 0) 5px 50% no-repeat, -moz-image-rect(url("icons.png"), 22, 22, 44, 0) 100% 50% no-repeat;
  padding: 0 15px 0 28px;
  opacity: 0.7;
  cursor: pointer;
  -moz-user-select: none;
}
header div[name="email-container"]:hover {
  opacity: 0.9;
}
header div[name="stat"] {
  min-width: 50px;
  text-align: center;
  border-left: 1px solid #DCDCDC;
}
header div[name="nav"] {
  display: flex;
  min-width: 86px;
}
header div[name="nav"] div {
  width: 38px;
  height: 22px;
}
header div[name="nav"] div[name="previous"] {
  background-image: -moz-image-rect(url("icons.png"), 132, 22, 154, 0);
  margin-right: -1px;
}
header div[name="nav"] div[name="next"] {
  background-image: -moz-image-rect(url("icons.png"), 154, 22, 176, 0);
}

#content {
  display: flex;
  flex-direction: column;
  flex: auto;
  background-color: #FFF;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  padding: 0 5px;
}
#content[loading] {
  background: #fff url('fetch.png') no-repeat center center;
}
#content div[name="title"] {
  font-size: 150%;
  border-bottom: 1px solid #DCDCDC;
  height: 35px;
}
#content div[name="info"] {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
#content div[name="info"] div[name="sender"] {
  min-width: 40px;
  font-weight: bold;
  padding: 0 3px 0 0;
}
#content div[name="info"] div[name="email"] {
  flex: auto;
  color: #727272;
}
#content div[name="info"] div[name="date"] {
  min-width: 40px;
  text-align: right;
}
#content div[name="body"] {
  flex: auto;

}
#content div[name="body"]>iframe {
  border-width: 0;
  width: 100%;
  height: 50px;
  padding-top: 8px;
}
@media all and (min-height: 300px) {
  #content div[name="body"]>iframe {
    height: calc(100% - 8px);
  }
}

footer div {
  min-width: 32px;
  padding: 0 5px;
  height: 22px;
  margin: 4px 3px;
  white-space: nowrap;
}
footer div[name="gmail"] {
  background-image: -moz-image-rect(url("icons.png"), 176, 22, 198, 0);
}
footer div[name="archive"] {
  background-image: -moz-image-rect(url("icons.png"), 110, 22, 132, 0);
}
footer div[name="spam"] {
  background-image: -moz-image-rect(url("icons.png"), 88, 22, 110, 0);
}
footer div[name="trash"] {
  background-image: -moz-image-rect(url("icons.png"), 44, 22, 66, 0);
}
footer div[name="refresh"] {
  background-image: -moz-image-rect(url("icons.png"), 66, 22, 88, 0);
}
footer div[name="read"] {
  width: 90px;
}
footer div[name="read-all"] {
  background-image: -moz-image-rect(url("icons.png"), 242, 22, 264, 0);
}
@media all and (max-width: 410px) {
  footer div[name="read"] {
    display: none;
  }
}

#accounts {
  display: none;
  position: absolute;
  top: 40px;
  left: 9px;
  color: #000 !important; /* KDE dark theme issue */
  background-color: #FFF;
  min-width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  z-index: 100;
}
#accounts li {
  padding: 4px 8px 4px 28px;
  display: block;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
  max-width: 500px;
}
#accounts li:last-child {
  border-bottom: none;
}
#accounts li:hover {
  background-color: #F5F5F5;
}
#accounts li.selected {
  background: -moz-image-rect(url("icons.png"),198 , 22, 220, 0) no-repeat 5px center;
}

#expand {
  position: fixed;
  bottom: 43px;
  left: 9px;
  width: 40px;
  height: 12px;
  background-image: -moz-image-rect(url("icons.png"), 220, 22, 242, 0);
}
body[mode="expanded"] #expand {
  -moz-transform: scaleY(-1);
}
/* tooltip */
.tooltip {
  position: relative;
}
.tooltip:hover:before {
  position: absolute;
  left: 38%;
  bottom: 24px;
  content: ""; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  z-index: 99;
}
.tooltip:hover:after {
  position: absolute;
  bottom: 30px;
  left: auto;
  right: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1px;
  color: #FFFFFF;
  content: attr(title);
  padding: 2px 10px;
  z-index: 98;
  white-space: nowrap;
}
footer div[name="gmail"]:hover:after  {
  left: -22px;
}
footer div[name="archive"]:hover:after  {
  left: -10px;
}
footer div[name="spam"]:hover:after  {
  left: -6px;
}
footer div[name="trash"]:hover:after  {
  left: -5px;
}
footer div[name="refresh"]:hover:after  {
  left: -12px;
}
footer div[name="read-all"]:hover:after  {
  left: -35px;
}