body {
  margin: 0;
}
table {
  color: inherit;
}
body, td {
  font-family: arial,sans-serif;
  font-size: 12px;
}
/* support black themes; #139 */
html, body {
  background-color: #fff;
}
a {
  color: #1155CC;
  text-decoration: none;
}

body>table:first-child,
body>hr,
.maincontent>table:first-child,
.maincontent>hr {
  display: none;
}

.message>tbody>tr:nth-child(1), .message>tbody>tr:nth-child(2) {
  display: none;
}

.message>tbody>tr>td>table>tbody>tr>td {
  padding: 0 6px;
}
