/* from Gmail Print View */
body,
td {
  font-size: 13px;
}
a {
  color: #15c;
  cursor: pointer;
}
a:visited {
  color: #61c;
}
img {
  border: 0;
}
pre {
  white-space: pre;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 800px;
  overflow: auto;
}

/* custom CSS */
.root {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
body {
  margin: 0;
}
body.summary {
  white-space: pre-wrap;
}
table {
  color: inherit;
}
