html,body
{
  margin:0; 
  padding:0; 
  height:100%;
}
body
{
  overflow: hidden;
  font: 12.8px arial,sans-serif;
  background-color: #fff;
  padding: 3px;
}

a,
a:hover,
a:active,
a:focus
{
  outline: 0;
  text-decoration: none;
  color: #191919;
}

ul
{
  list-style: none;
}

#preview
{
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  background-color: #F5F5F5;
  position: relative;
}

#header,
#toolbar
{
  height: 33px;
  line-height: 24px;
  -moz-box-sizing: border-box;
  padding: 4px 8px;
  -moz-user-select: none;
}

#toolbar
{
  text-align: center;
  padding-top: 5px;
}

#header #nav
{
  float: right;
  padding-left: 20px;
  border-left: 1px solid #DCDCDC;
  height: 25px;
}

#header #nav #stat
{
  margin-right: 8px;
}

#header #account_selector
{
  opacity: 0.55;
  cursor: pointer;
  float: left;
  padding: 0 8px 0 18px;
  background: url(icons3.png) -1px 2px no-repeat;
  height: 25px;
  outline: none;
}

#header #account_selector:hover
{
  opacity: 0.9;
}

#header #account_selector span
{
  background: url(icons3.png) 100% -19px no-repeat;
  padding: 0 20px 0 5px;
  overflow: hidden;
  display: block;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#header[type="expanded"] #account_selector span  {
  max-width: 300px;
}

#header #accounts
{
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 13px;
  margin: 0;
  min-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: absolute;
  top: 30px;
  display: none;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
}

#header #accounts li
{
  padding: 4px 8px 4px 35px;
  display: block;
  border-bottom: 1px solid #F5F5F5;
  cursor: pointer;
}
#header #accounts li:last-child
{
  border-bottom: none;
}

#header #accounts li:hover
{
  background-color: #F5F5F5;
}

#header #accounts li.selected
{
  background: url(icons3.png) 10px -197px no-repeat;
} 

#content
{
  background-color: #FFF;
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
  -moz-box-sizing: border-box;
  overflow: hidden;
  color: #222222;
  position: relative;
  padding: 8px 8px 0 8px;
}
#content[mode="loading"] {
  background: #fff url('fetch.png') no-repeat center center;
}

#content a
{
  color: #222222;
  text-decoration: none;
}

#content #email_title
{
  font-weight: normal;
  font-size: 140%;
  border-bottom: 1px solid #DCDCDC;
  margin-bottom: 4px;
  display: block;
}

#content a#title
{
  color: #222222;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  padding-right: 2px;
  height: 24px;
}

#content #name
{
  font-weight: bold;
}

#content .sender
{
  float: left;
  line-height: 24px;
  max-width: 310px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content[type="expanded"] .sender {
  max-width: 420px;
}

#email {
 color: #727272;
}
#content #date
{
  float: right;
  line-height: 24px;
}

#content p
{
  float: none;
  clear: both;
  padding: 8px 4px 0 4px;
  height: 30px;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-break: break-all;
}
#content p a {
  color: #1155CC;
}
.btn
{
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #727272;
  background-color: #FFF;
  background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85));
  height: 24px;
  line-height: 22px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  vertical-align: top;
  min-width: 50px;
  padding: 0 8px;
  text-align: center;
  display: inline-block;
  -moz-box-sizing: border-box;
  border-radius: 2px;
  white-space: nowrap;
  -moz-user-select: none;
}
.btn.read {
  width: 100px;
}
.btn.prev,
.btn.next
{
  min-width: inherit;
  padding: 0 3px;
  float: right;
  z-index: 1;
  position: relative;
}
.btn.prev
{
  border-radius: 2px 0 0 2px;
  margin-right: -1px;
}
.btn.next
{
  border-radius: 0 2px 2px 0;
}
.btn.next:hover
{
  z-index:2;
}
.btn:active
{
  border: 1px solid #4D90FE;
}
.btn:hover
{
  color: #191919;
  border-color: #c6c6c6;
  background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.9), rgba(247, 247, 247, 0.9));
}
.btn:hover i
{
  opacity: 0.9;
}

.btn[disabled],
.btn[disabled]:hover
{
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
  z-index:1;
}

.btn[disabled] i,
.btn[disabled]:hover i
{
  opacity: 0.333;
}
.btn.read[disabled] {
  color: #727272;
}
.btn i
{
  background: url(icons3.png) 0 0 no-repeat;
  display: inline-block;
  opacity: 0.55;
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.btn[wait] i
{
  background-position: 0 0 !important;
  background: url("wait.gif") no-repeat center center;
}

.btn.down i
{
  background-position: -1px -24px;
}
.btn.trash i
{
  background-position: -1px -46px;
}
.btn.refresh i
{
  background-position: -1px -68px;
}
.btn.spam i
{
  background-position: -1px -90px;
}
.btn.archive i
{
  background-position: -1px -112px;
}
.btn.prev i
{
  background-position: -1px -134px;
}
.btn.next i
{
  background-position: -1px -156px;
}
.btn.inbox i
{
  background-position: -1px -178px;
}
.btn.expand {
  height: 12px;
  line-height: 6px;
}
.btn.expand i
{
  height: 6px;
  background-position: -1px -229px;
}
#content[type="expanded"] .btn.expand i {
  -moz-transform: scaleY(-1);
}

/** Tooltip **/

.tooltip {
  position: relative;
}
.tooltip:hover:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  bottom: 30px;
  color: #FFFFFF;
  content: attr(title);
  padding: 2px 10px;
  position: absolute;
  z-index: 98;
}
.tooltip.archive:hover:after {
  left: -16%;
}
.tooltip.trash:hover:after {
  left: -10%;
}
.tooltip.spam:hover:after {
  left: -50%;
}
.tooltip.refresh:hover:after {
  left: -18%;
}
.tooltip.inbox:hover:after {
  left: -40%;
}
.tooltip:hover:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #333333 transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px 6px 0;
  bottom: 24px;
  content: "";
  left: 38%;
  position: absolute;
  z-index: 99;
}