body {
  margin: 0;
  font-family: arial,sans-serif;
  font-size: 13px;
  overflow: hidden;
  background-color: white;
}
a {
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
}
hr {
  margin-bottom: -2px;
  border-color: #DCDCDC;
}
.body {
  position: relative;
  width: 420px;
  height: 200px;
}
.action {
  opacity: 0.6;
  cursor: pointer;
}
.action:hover:not([disabled]),
.action:hover[disabled=false] {
  opacity: 1;
}
.toolbar {
  background-color: #F5F5F5;
  line-height: 36px;
  border:solid 1px #DCDCDC;
  margin: -1px;
}
.toolbar.bottom {
  position: absolute;
  bottom: 0;
  width: 100%
}
.toolbarbutton {
  display: inline-block;
  text-align:center;
  height: 24px;
  line-height: 24px;
  border: 1px solid #DCDCDC;
  background-color: white;
  background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.85), rgba(247, 247, 247, 0.85));
  font-size: 11px;
  vertical-align: middle;
  margin-top: -3px;
}
.toolbarbutton img {
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url("buttons.png");
}
.toolbarbutton[wait] img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-position: 0 0 !important;
  background: url("wait.gif") no-repeat center center;
}
.toolbarbutton.previous,
.toolbarbutton.next {
  width: 30px;
  margin-right: -5px;
}
.toolbarbutton.archive,
.toolbarbutton.trash,
.toolbarbutton.spam,
.toolbarbutton.refresh {
  width: 50px;
}
.toolbarbutton.read {
  width: 96px;
  color: #444444;
  font-weight: bold;
}
.toolbarbutton.previous img {
  background-position: 0 -21px;
}
.toolbarbutton.next img {
  background-position: 0 -42px;
}
.toolbarbutton.archive img {
  background-position: 0 0;
}
.toolbarbutton.trash img {
  background-position: 0 -84px;
}
.toolbarbutton.refresh img {
  background-position: 0 -63px;
}
.toolbarbutton.spam img {
  background-position: 0 -105px;
}
.stat {
  margin: 0 8px;
}
.users {
  float: left;
  width: 240px;
  margin: -1px;
  border: solid 1px #DCDCDC;
  padding-left: 20px;
  background: url('list.png') no-repeat left center;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.users img {
  margin-left: -2px;
  vertical-align: middle;
}
.title {
  display: block;
  padding-left: 8px;
  font-size: 140%;
  margin: 8px 0px 4px;
  width: 400px;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.title a {
  color: black;
}
.identity {
  display: block;
  padding-left: 8px;
}
.name {
  font-weight: bold;
}
.name a {
  color: #1155CC;
}
.email {
  color: #555555;
}
.content {
  display: block;
  padding: 0 8px;
}
.date {
  float: right;
  margin-right: 5px;
}
.list {
  display: none;
  list-style-position: inside;
  border:solid 1px #DCDCDC;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 5px;
  top: 30px;
  cursor: pointer;
  background-color: white;
}
.list li {
  display: block;
  width: 200px;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.list li:hover  {
  background-color: #F1F1F1;
}