#navigator-toolbox[iconsize="large"] #igmail-notifier:after,
#igmail-notifier:after {
  font-family: sans-serif;
  height: 10px;
  line-height: 12px;
}

#igmail-notifier[length="1"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="1"]:after {
  margin: 6px 0 0 -10px;
  width: 10px;
}
#igmail-notifier[length="2"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="2"]:after {
  margin: 6px 0 0 -14px;
  width: 14px;
}
#igmail-notifier[length="3"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="3"]:after {
  margin: 6px 0 0 -22px;
  width: 22px;
}
#igmail-notifier[length="4"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="4"]:after{
  margin: 6px -1px 0 -25px;
  width: 26px;
}