/* Australis support */
#igmail-notifier,
#igmail-notifier[type="blue"] {
  list-style-image: url('toolbar-16.png') !important;
  -moz-image-region: rect(0, 48px, 16px, 32px); 
}
#igmail-notifier[type="gray"] {
  -moz-image-region: rect(0, 32px, 16px, 16px);  
}
#igmail-notifier[type="red"] {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
#igmail-notifier[type="new"] {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}
#igmail-notifier[type="load0"] {
  -moz-image-region: rect(0, 80px, 16px, 64px);
}
#igmail-notifier[type="load1"] {
  -moz-image-region: rect(0, 96px, 16px, 80px);
}
#igmail-notifier[type="load2"] {
  -moz-image-region: rect(0, 112px, 16px, 96px);
}
#igmail-notifier[type="load3"] {
  -moz-image-region: rect(0, 128px, 16px, 112px);
}
toolbarpaletteitem[place="palette"] > #igmail-notifier {
  list-style-image: url('toolbar-32.png') !important;
  -moz-image-region: rect(0, 32px, 32px, 0);
}
#igmail-notifier[cui-areatype="menu-panel"],
#igmail-notifier[cui-areatype="menu-panel"][type="blue"]{
  list-style-image: url('toolbar-32.png') !important;
  -moz-image-region: rect(0, 96px, 32px, 64px); 
}
#igmail-notifier[cui-areatype="menu-panel"][type="gray"] {
  -moz-image-region: rect(0, 64px, 32px, 32px);
}
#igmail-notifier[cui-areatype="menu-panel"][type="red"] {
  -moz-image-region: rect(0, 32px, 32px, 0);
}
#igmail-notifier[cui-areatype="menu-panel"][type="new"] {
  -moz-image-region: rect(0, 128px, 32px, 96px);
}
#igmail-notifier[cui-areatype="menu-panel"][type="load0"] {
  -moz-image-region: rect(0, 160px, 32px, 128px);
}
#igmail-notifier[cui-areatype="menu-panel"][type="load1"] {
  -moz-image-region: rect(0, 192px, 32px, 160px);
}
#igmail-notifier[cui-areatype="menu-panel"][type="load2"] {
  -moz-image-region: rect(0, 224px, 32px, 192px);
}
#igmail-notifier[cui-areatype="menu-panel"][type="load3"] {
  -moz-image-region: rect(0, 256px, 32px, 224px);
}

/* Badge; do not show it on palette or menu-panel*/
#igmail-notifier:after {
  position: relative;
  display:  table;
  font-family: Arial;
  font-size: 10px;
  font-weight: 600;
  content: attr(value);
  background-color: #3366CC;
  color: white;
  text-align: center;
  overflow: hidden;
  border-radius: 2px;
  height: 11px;
  line-height: 10px;
}
toolbarpaletteitem[place="palette"] > #igmail-notifier:after,
#igmail-notifier[cui-areatype="menu-panel"]:after {
  display: none;
}

/* Windows Small Icon */
#igmail-notifier[length="1"]:after {
  margin: 6px -1px 0 -9px;
  width: 10px;
}
#igmail-notifier[cui-areatype="toolbar"][length="1"]:after{
  margin: 7px 3px 0 -13px;
}
#igmail-notifier[length="2"]:after {
  margin: 6px 0 0 -16px;
  width: 16px;
}
#igmail-notifier[cui-areatype="toolbar"][length="2"]:after{
  margin: 7px 3px 0 -19px;
}
#igmail-notifier[length="3"]:after {
  margin: 6px -1px 0 -19px;
  width: 20px;
}
#igmail-notifier[cui-areatype="toolbar"][length="3"]:after{
  margin: 7px 3px 0 -23px;
}
#igmail-notifier[length="4"]:after {
  margin: 6px -2px 0 -20px;
  width: 22px;
}
#igmail-notifier[cui-areatype="toolbar"][length="4"]:after{
  margin: 7px 3px 0 -27px;
}
/* Windows Large Icon */
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="1"]:after {
  margin: 6px 5px 0 -15px;
  width: 10px;
}
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="2"]:after {
  margin: 6px 3px 0 -19px;
  width: 16px;
}
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="3"]:after {
  margin: 6px 3px 0 -25px;
  width: 22px;
}
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="4"]:after{
  margin: 6px 3px 0 -31px;
  width: 28px;
}
/* Windows Large Icon (icon + text)*/
#navigator-toolbox[mode="full"] #igmail-notifier image,
#navigator-toolbox[iconsize="large"][mode="full"] #igmail-notifier image {
  padding: 1px;
}

#navigator-toolbox[mode="full"] #igmail-notifier:after,
#navigator-toolbox[iconsize="large"][mode="full"] #igmail-notifier:after {
  margin: -25px -12px 25px 0;
}