#navigator-toolbox[iconsize="large"] #igmail-notifier:after,
#igmail-notifier:after {
  font-family: sans-serif;
  font-size: 8px;
  line-height: 10px;
  height: 10px;
}
#igmail-notifier:-moz-window-inactive:after {
  background-color: #99B2E5;
}
#igmail-notifier[length="1"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="1"]:after {
  margin: 8px 0 0 -10px;
  width: 10px;
}
#igmail-notifier[length="2"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="2"]:after {
  margin: 8px 0 0 -12px;
  width: 12px;
}
#igmail-notifier[length="3"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="3"]:after {
  margin: 8px 0 0 -19px;
  width: 19px;
}
#igmail-notifier[length="4"]:after,
#navigator-toolbox[iconsize="large"] #igmail-notifier[length="4"]:after{
  margin: 8px -1px 0 -20px;
  width: 21px;
}

/** Retina Display **/
@media (min-resolution: 2dppx) {
  #igmail-notifier,
  #igmail-notifier[type="blue"] {
    list-style-image: url('toolbar-32.png') !important;
    -moz-image-region: rect(0, 96px, 32px, 64px);  
  }
  #igmail-notifier[type="gray"] {
    -moz-image-region: rect(0, 64px, 32px, 32px);  
  }
  #igmail-notifier[type="red"] {
    -moz-image-region: rect(0, 32px, 32px, 0);
  }
  #igmail-notifier[type="new"] {
    -moz-image-region: rect(0, 128px, 32px, 96px);
  }
  #igmail-notifier[type="load0"] {
    -moz-image-region: rect(0, 160px, 32px, 128px);
  }
  #igmail-notifier[type="load1"] {
    -moz-image-region: rect(0, 192px, 32px, 160px);
  }
  #igmail-notifier[type="load2"] {
    -moz-image-region: rect(0, 224px, 32px, 192px);
  }
  #igmail-notifier[type="load3"] {
    -moz-image-region: rect(0, 256px, 32px, 2242px);
  }
  #igmail-notifier image {
    width: 16px;
  }
}